<h1><tmpl_var name="list_head_txt">Import DNS records from Tupa PowerDNS controlpanel</h1>
<p><tmpl_var name="list_desc_txt"></p>


        <legend>PowerDNS Tupa import</legend>
            <div class="form-group">
                <label class="col-sm-3 control-label">Tupa database hostname</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="dbhost" value="{tmpl_var name='dbhost'}" name="dbhost" /></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Tupa database name</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="dbname" value="{tmpl_var name='dbname'}" name="dbname" /></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Tupa database user</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="dbuser" value="{tmpl_var name='dbuser'}" name="dbuser" /></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Tupa database password</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="dbpassword" value="{tmpl_var name='dbpassword'}" name="dbpassword" /></div>
            </div>                
        

        <tmpl_if name="msg">
            <div id="OKMsg"><p><tmpl_var name="msg"></p></div>
        </tmpl_if>
        <tmpl_if name="error">
            <div id="errorMsg"><h3><tmpl_var name="error_txt"></h3><ol><tmpl_var name="error"></ol></div>
        </tmpl_if>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">
		<input type="hidden" name="start" value="1">
            
        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="Import" data-submit-form="pageForm" data-form-action="tools/dns_import_tupa.php">Start</button>
            <button class="btn btn-default formbutton-default" type="button" value="Cancel" data-load-content="tools/index.php">Cancel</button>
        </div></div>