<div class='page-header'>
	<h1><tmpl_var name="page_head_txt"></h1>
</div>
<p><tmpl_var name="page_desc_txt"></p>


        
            <!-- TODO: If user theme change is activated -->
            <div class="form-group">
                <label for="app_theme" class="col-sm-3 control-label">{tmpl_var name='app_theme_txt'}</label>
                <div class="col-sm-9"><select name="app_theme" id="app_theme" class="form-control">
                    {tmpl_var name='app_theme'}
                </select></div>
            </div>
            <!-- TODO: Limit to activated modules -->
            <div class="form-group">
                <label for="startmodule" class="col-sm-3 control-label">{tmpl_var name='startmodule_txt'}</label>
                <div class="col-sm-9"><select name="startmodule" id="startmodule" class="form-control">
                    {tmpl_var name='startmodule'}
                </select></div>
            </div>
        
        
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
            
        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="tools/interface_settings.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="tools/index.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div></div>