<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>
	
<div class="form-group">
	<label for="resync_all" class="col-sm-2 control-label">{tmpl_var name='resync_all_txt'}</label>
	<div class="col-sm-1"><input type="checkbox" id="resync_all" value="1" name="resync_all"></div>
	<div class="col-sm-3"><select name="all_server_id" id="all_server_id" class="form-control">{tmpl_var name='all_server_id'}</select></div>
</div>

<tmpl_if name="web_server_found">
	<tmpl_if name="web_domain_found">
		<div class="form-group">
			<label for="resync_sites" class="col-sm-2 control-label">{tmpl_var name='resync_sites_txt'}</label>
			<div class="col-sm-1"><input type="checkbox" id="resync_sites" value="1" name="resync_sites"></div>
			<div class="col-sm-3"><select name="web_server_id" id="web_server_id" class="form-control">{tmpl_var name='web_server_id'}</select></div>
		</div>
	</tmpl_if>
	<tmpl_if name="ftp_user_found">
		<div class="form-group">
			<label for="resync_ftp" class="col-sm-2 control-label">{tmpl_var name="resync_ftp_txt"}</label>
			<div class="col-sm-1"><input type="checkbox" id="resync_ftp" value="1" name="resync_ftp"></div>
			<div class="col-sm-3"><select name="ftp_server_id" id="ftp_server_id" class="form-control">{tmpl_var name='ftp_server_id'}</select></div>
		</div>
	</tmpl_if>
	<tmpl_if name="shell_user_found">
		<div class="form-group">
			<label for="resync_shell" class="col-sm-2 control-label">{tmpl_var name="resync_shell_txt"}</label>
			<div class="col-sm-1"><input type="checkbox" id="resync_shell" value="1" name="resync_shell"></div>
			<div class="col-sm-3"><select name="shell_server_id" id="shell_server_id" class="form-control">{tmpl_var name='shell_server_id'}</select></div>
		</div>
	</tmpl_if>
	<tmpl_if name="cron_found">
		<div class="form-group">
			<label for="resync_cron" class="col-sm-2 control-label">{tmpl_var name="resync_cron_txt"}</label>
			<div class="col-sm-1"><input type="checkbox" id="resync_cron" value="1" name="resync_cron"></div>
			<div class="col-sm-3"><select name="cron_server_id" id="cron_server_id" class="form-control">{tmpl_var name='cron_server_id'}</select></div>
		</div>
	</tmpl_if>
</tmpl_if>
	
<tmpl_if name="file_server_found">
	<tmpl_if name="webdav_user_found">
		<div class="form-group">
			<label for="resync_webdav" class="col-sm-2 control-label">{tmpl_var name="resync_webdav_txt"}</label>
			<div class="col-sm-1"><input type="checkbox" id="resync_webdav" value="1" name="resync_webdav"></div>
			<div class="col-sm-3"><select name="webdav_server_id" id="webdav_server_id" class="form-control">{tmpl_var name='file_server_id'}</select></div>
		</div>
	</tmpl_if>
</tmpl_if>
	
<tmpl_if name="db_server_found">
	<tmpl_if name="client_db_found">
		<div class="form-group">
			<label for="resync_db" class="col-sm-2 control-label">{tmpl_var name="resync_db_txt"}</label>
			<div class="col-sm-1"><input type="checkbox" id="resync_db" value="1" name="resync_db"></div>
			<div class="col-sm-3"><select name="db_server_id" id="db_server_id" class="form-control">{tmpl_var name='db_server_id'}</select></div>
		</div>
	</tmpl_if>
</tmpl_if>
	
<tmpl_if name="mail_server_found">
	<tmpl_if name="mail_domain_found">
		<div class="form-group">
			<label for="resync_mail" class="col-sm-2 control-label">{tmpl_var name="resync_mail_txt"}</label>
			<div class="col-sm-1"><input type="checkbox" id="resync_mail" value="1" name="resync_mail"></div>
			<div class="col-sm-3"><select name="mail_server_id" id="mail_server_id" class="form-control">{tmpl_var name='mail_server_id'}</select></div>
		</div>
	</tmpl_if>
	<tmpl_if name="mail_user_found">
		<div class="form-group">
			<label for="resync_mailbox" class="col-sm-2 control-label">{tmpl_var name="resync_mailbox_txt"}</label>
			<div class="col-sm-1"><input type="checkbox" id="resync_mailbox" value="1" name="resync_mailbox"></div>
			<div class="col-sm-3"><select name="mailbox_server_id" id="mailbox_server_id" class="form-control">{tmpl_var name='mailbox_server_id'}</select></div>
		</div>
	</tmpl_if>
	<tmpl_if name="mail_get_found">
		<div class="form-group">
			<label for="resync_mailget" class="col-sm-2 control-label">{tmpl_var name="resync_mailget_txt"}</label>
			<div class="col-sm-1"><input type="checkbox" id="resync_mailget" value="1" name="resync_mailget"></div>
			<div class="col-sm-3"><select name="mailget_server_id" id="mailget_server_id" class="form-control">{tmpl_var name='mailget_server_id'}</select></div>
		</div>
	</tmpl_if>
	<tmpl_if name="mail_filter_found">
		<div class="form-group">
			<label for="resync_mailfilter" class="col-sm-2 control-label">{tmpl_var name="resync_mailfilter_txt"}</label>
			<div class="col-sm-1"><input type="checkbox" id="resync_mailfilter" value="1" name="resync_mailfilter"></div>
			<div class="col-sm-3"><select name="mailfilter_server_id" id="mailfilter_server_id" class="form-control">{tmpl_var name='mailfilter_server_id'}</select></div>
		</div>
	</tmpl_if>
	<tmpl_if name="mailinglist_found">
		<div class="form-group">
			<label for="resync_mailinglist" class="col-sm-2 control-label">{tmpl_var name="resync_mailinglist_txt"}</label>
			<div class="col-sm-1"><input type="checkbox" id="resync_mailinglist" value="1" name="resync_mailinglist"></div>
			<div class="col-sm-3"><select name="mailinglist_server_id" id="mailinglist_server_id" class="form-control">{tmpl_var name='mailinglist_server_id'}</select></div>
		</div>
	</tmpl_if>
</tmpl_if>


<tmpl_if name="dns_server_found">
	<tmpl_if name="dns_soa_found">
		<div class="form-group">
			<label for="resync_dns" class="col-sm-2 control-label">{tmpl_var name="resync_dns_txt"}</label>
			<div class="col-sm-1"><input type="checkbox" id="resync_dns" value="1" name="resync_dns"></div>
			<div class="col-sm-3"><select name="dns_server_id" id="dns_server_id" class="form-control">{tmpl_var name='dns_server_id'}</select></div>
		</div>
	</tmpl_if>
</tmpl_if>
	
<tmpl_if name="vserver_server_found">
	<tmpl_if name="vserver_found">
		<div class="form-group">
			<label for="resync_vserver" class="col-sm-2 control-label">{tmpl_var name="resync_vserver_txt"}</label>
			<div class="col-sm-1"><input type="checkbox" id="resync_vserver" value="1" name="resync_vserver"></div>
			<div class="col-sm-3"><select name="vserver_server_id" id="vserver_server_id" class="form-control">{tmpl_var name='vserver_server_id'}</select></div>
		</div>
	</tmpl_if>
</tmpl_if>
	
<tmpl_if name="firewall_server_found">
	<div class="form-group">
		<label for="resync_firewall" class="col-sm-2 control-label">{tmpl_var name="resync_firewall_txt"}</label>
		<div class="col-sm-1"><input type="checkbox" id="resync_firewall" value="1" name="resync_firewall"></div>
		<div class="col-sm-3"><select name="firewall_server_id" id="firewall_server_id" class="form-control">{tmpl_var name='firewall_server_id'}</select></div>
	</div>
</tmpl_if>
	
<div class="form-group">
	<label for="resync_client" class="col-sm-2 control-label control-label-plain">{tmpl_var name="resync_client_txt"}</label> 
	<div class="col-sm-1"><input type="checkbox" id="resync_client" value="1" name="resync_client"></div>
</div>
	
<input type="hidden" name="id" value="{tmpl_var name='id'}">

<div class="clear"><div class="right">
	<button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="tools/resync.php">{tmpl_var name='btn_start_txt'}</button>
	<button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="tools/resync.php">{tmpl_var name='btn_cancel_txt'}</button>
</div></div>

