<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        <legend>Advanced</legend>
            <div class="form-group">
                <label for="numproc" class="col-sm-3 control-label">{tmpl_var name='numproc_txt'}</label>
                <div class="col-sm-9"><input type="text" name="numproc" id="numproc" value="{tmpl_var name='numproc'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="numtcpsock" class="col-sm-3 control-label">{tmpl_var name='numtcpsock_txt'}</label>
                <div class="col-sm-9"><input type="text" name="numtcpsock" id="numtcpsock" value="{tmpl_var name='numtcpsock'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="numothersock" class="col-sm-3 control-label">{tmpl_var name='numothersock_txt'}</label>
                <div class="col-sm-9"><input type="text" name="numothersock" id="numothersock" value="{tmpl_var name='numothersock'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="vmguarpages" class="col-sm-3 control-label" readonly >{tmpl_var name='vmguarpages_txt'}</label>
                <div class="col-sm-9"><input type="text" name="vmguarpages" id="vmguarpages" value="{tmpl_var name='vmguarpages'}" class="form-control" readonly /></div></div>
            <div class="form-group">
                <label for="kmemsize" class="col-sm-3 control-label">{tmpl_var name='kmemsize_txt'}</label>
                <div class="col-sm-9"><input type="text" name="kmemsize" id="kmemsize" value="{tmpl_var name='kmemsize'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="tcpsndbuf" class="col-sm-3 control-label">{tmpl_var name='tcpsndbuf_txt'}</label>
                <div class="col-sm-9"><input type="text" name="tcpsndbuf" id="tcpsndbuf" value="{tmpl_var name='tcpsndbuf'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="tcprcvbuf" class="col-sm-3 control-label">{tmpl_var name='tcprcvbuf_txt'}</label>
                <div class="col-sm-9"><input type="text" name="tcprcvbuf" id="tcprcvbuf" value="{tmpl_var name='tcprcvbuf'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="othersockbuf" class="col-sm-3 control-label">{tmpl_var name='othersockbuf_txt'}</label>
                <div class="col-sm-9"><input type="text" name="othersockbuf" id="othersockbuf" value="{tmpl_var name='othersockbuf'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="dgramrcvbuf" class="col-sm-3 control-label">{tmpl_var name='dgramrcvbuf_txt'}</label>
                <div class="col-sm-9"><input type="text" name="dgramrcvbuf" id="dgramrcvbuf" value="{tmpl_var name='dgramrcvbuf'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="oomguarpages" class="col-sm-3 control-label">{tmpl_var name='oomguarpages_txt'}</label>
                <div class="col-sm-9"><input type="text" name="oomguarpages" id="oomguarpages" value="{tmpl_var name='oomguarpages'}" class="form-control" readonly /></div></div>
            <div class="form-group">
                <label for="privvmpages" class="col-sm-3 control-label">{tmpl_var name='privvmpages_txt'}</label>
                <div class="col-sm-9"><input type="text" name="privvmpages" id="privvmpages" value="{tmpl_var name='privvmpages'}" class="form-control" readonly /></div></div>
            <div class="form-group">
                <label for="lockedpages" class="col-sm-3 control-label">{tmpl_var name='lockedpages_txt'}</label>
                <div class="col-sm-9"><input type="text" name="lockedpages" id="lockedpages" value="{tmpl_var name='lockedpages'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="shmpages" class="col-sm-3 control-label">{tmpl_var name='shmpages_txt'}</label>
                <div class="col-sm-9"><input type="text" name="shmpages" id="shmpages" value="{tmpl_var name='shmpages'}" class="form-control" readonly /></div></div>
            <div class="form-group">
                <label for="physpages" class="col-sm-3 control-label">{tmpl_var name='physpages_txt'}</label>
                <div class="col-sm-9"><input type="text" name="physpages" id="physpages" value="{tmpl_var name='physpages'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="numfile" class="col-sm-3 control-label">{tmpl_var name='numfile_txt'}</label>
                <div class="col-sm-9"><input type="text" name="numfile" id="numfile" value="{tmpl_var name='numfile'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="avnumproc" class="col-sm-3 control-label">{tmpl_var name='avnumproc_txt'}</label>
                <div class="col-sm-9"><input type="text" name="avnumproc" id="avnumproc" value="{tmpl_var name='avnumproc'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="numflock" class="col-sm-3 control-label">{tmpl_var name='numflock_txt'}</label>
                <div class="col-sm-9"><input type="text" name="numflock" id="numflock" value="{tmpl_var name='numflock'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="numpty" class="col-sm-3 control-label">{tmpl_var name='numpty_txt'}</label>
                <div class="col-sm-9"><input type="text" name="numpty" id="numpty" value="{tmpl_var name='numpty'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="numsiginfo" class="col-sm-3 control-label">{tmpl_var name='numsiginfo_txt'}</label>
                <div class="col-sm-9"><input type="text" name="numsiginfo" id="numsiginfo" value="{tmpl_var name='numsiginfo'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="dcachesize" class="col-sm-3 control-label">{tmpl_var name='dcachesize_txt'}</label>
                <div class="col-sm-9"><input type="text" name="dcachesize" id="dcachesize" value="{tmpl_var name='dcachesize'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="numiptent" class="col-sm-3 control-label">{tmpl_var name='numiptent_txt'}</label>
                <div class="col-sm-9"><input type="text" name="numiptent" id="numiptent" value="{tmpl_var name='numiptent'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="swappages" class="col-sm-3 control-label">{tmpl_var name='swappages_txt'}</label>
                <div class="col-sm-9"><input type="text" name="swappages" id="swappages" value="{tmpl_var name='swappages'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="capability" class="col-sm-3 control-label">{tmpl_var name='capability_txt'}</label>
                <div class="col-sm-9"><input type="text" name="capability" id="capability" value="{tmpl_var name='capability'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="features" class="col-sm-3 control-label">{tmpl_var name='features_txt'}</label>
                <div class="col-sm-9"><input type="text" name="features" id="features" value="{tmpl_var name='features'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="iptables" class="col-sm-3 control-label">{tmpl_var name='iptables_txt'}</label>
                <div class="col-sm-9"><input type="text" name="iptables" id="iptables" value="{tmpl_var name='iptables'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="custom" class="col-sm-3 control-label">{tmpl_var name='custom_txt'}</label>
                <div class="col-sm-9"><textarea class="form-control" name="custom" id="custom" rows='10' cols='30'>{tmpl_var name='custom'}</textarea></div></div>        
            
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
            
        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="vm/openvz_template_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="vm/openvz_template_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div></div>
