<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        <legend>Template</legend>
            <div class="form-group">
                <label for="template_name" class="col-sm-3 control-label">{tmpl_var name='template_name_txt'}</label>
                <div class="col-sm-9"><input type="text" name="template_name" id="template_name" value="{tmpl_var name='template_name'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="diskspace" class="col-sm-3 control-label">{tmpl_var name='diskspace_txt'}</label>
                <div class="col-sm-6"><input type="text" name="diskspace" id="diskspace" value="{tmpl_var name='diskspace'}" class="form-control" /></div><div class="col-sm-3 input-sm"> &nbsp;GB
            </div></div>
            <div class="form-group">
                <label for="ram" class="col-sm-3 control-label">{tmpl_var name='ram_txt'}</label>
                <div class="col-sm-6"><input type="text" name="ram" id="ram" value="{tmpl_var name='ram'}" class="form-control" /></div><div class="col-sm-3 input-sm"> &nbsp;MB
            </div></div>
            <div class="form-group">
                <label for="ram_burst" class="col-sm-3 control-label">{tmpl_var name='ram_burst_txt'}</label>
                <div class="col-sm-6"><input type="text" name="ram_burst" id="ram_burst" value="{tmpl_var name='ram_burst'}" class="form-control" /></div><div class="col-sm-3 input-sm"> &nbsp;MB
            </div></div>
            <div class="form-group">
                <label for="cpu_units" class="col-sm-3 control-label">{tmpl_var name='cpu_units_txt'}</label>
                <div class="col-sm-6"><input type="text" name="cpu_units" id="cpu_units" value="{tmpl_var name='cpu_units'}" class="form-control" /></div><div class="col-sm-3 input-sm">&nbsp;(8 - 500000)
            </div></div>
            <div class="form-group">
                <label for="cpu_num" class="col-sm-3 control-label">{tmpl_var name='cpu_num_txt'}</label>
                <div class="col-sm-6"><input type="text" name="cpu_num" id="cpu_num" value="{tmpl_var name='cpu_num'}" class="form-control" /></div><div class="col-sm-3 input-sm">&nbsp;(1 - 64)
            </div></div>
            <div class="form-group">
                <label for="cpu_limit" class="col-sm-3 control-label">{tmpl_var name='cpu_limit_txt'}</label>
                <div class="col-sm-6"><input type="text" name="cpu_limit" id="cpu_limit" value="{tmpl_var name='cpu_limit'}" class="form-control" /></div><div class="col-sm-3 input-sm">&nbsp;(10 - 6400)
            </div></div>
            <div class="form-group">
                <label for="io_priority" class="col-sm-3 control-label">{tmpl_var name='io_priority_txt'}</label>
                <div class="col-sm-6"><input type="text" name="io_priority" id="io_priority" value="{tmpl_var name='io_priority'}" class="form-control" /></div><div class="col-sm-3 input-sm">&nbsp;(0 - 7)
            </div></div>
            <div class="form-group">
                <label for="hostname" class="col-sm-3 control-label">{tmpl_var name='hostname_txt'}</label>
                <div class="col-sm-9"><input type="text" name="hostname" id="hostname" value="{tmpl_var name='hostname'}" class="form-control" /></div></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='create_dns_txt'}</label>
                <div class="col-sm-9">
                    {tmpl_var name='create_dns'}
                </div>
            </div>
            <div class="form-group">
                <label for="nameserver" class="col-sm-3 control-label">{tmpl_var name='nameserver_txt'}</label>
                <div class="col-sm-6"><input type="text" name="nameserver" id="nameserver" value="{tmpl_var name='nameserver'}" class="form-control" /></div><div class="col-sm-3 input-sm">&nbsp;{tmpl_var name='nameserver_desc_txt'}
            </div></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='active_txt'}</label>
                <div class="col-sm-9">
                    {tmpl_var name='active'}
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-3 control-label">{tmpl_var name='description_txt'}</label>
                <div class="col-sm-9"><textarea class="form-control" name="description" id="description" rows='10' cols='30'>{tmpl_var name='description'}</textarea></div>
            </div>
        

        <input type="hidden" name="id" value="{tmpl_var name='id'}">
            
        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="vm/openvz_template_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="vm/openvz_template_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div></div>