<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        <legend><tmpl_var name="monTransRefreshsq"></legend>
            
                <div class="form-group">
                    <div class="col-sm-12"><select name="refreshinterval" id="refreshinterval" class="form-control" onChange="ISPConfig.loadContentRefresh('monitor/show_log.php?log={tmpl_var name="log_id"}')">
                        {tmpl_var name='refresh'}
                    </select></div>
                
        
    </div>
  
    <div class="pnl_formarea">
        <p class="fieldset-legend"><tmpl_var name="monTransDate"><tmpl_var name="time"></p>
            <div class="codeview"><pre><tmpl_var name="log_data"></pre></div>
        
    </div>