<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_invoice_message_template">

  <div class="pnl_formsarea">
    <legend>Settings</legend>
      <div class="form-group">
      	<label for="template_type" class="col-sm-3 control-label">{tmpl_var name='template_type_txt'}</label>
        <div class="col-sm-9"><select name="template_type" id="template_type" class="form-control">
					{tmpl_var name='template_type'}
				</select></div>
      </div>
      <div class="form-group">
      	<label for="template_name" class="col-sm-3 control-label">{tmpl_var name='template_name_txt'}</label>
        <div class="col-sm-9"><input type="text" name="template_name" id="template_name" value="{tmpl_var name='template_name'}" class="form-control" /></div></div>
      <div class="form-group">
      	<label for="subject" class="col-sm-3 control-label">{tmpl_var name='subject_txt'}</label>
        <div class="col-sm-9"><input type="text" name="subject" id="subject" value="{tmpl_var name='subject'}" class="form-control" />
		{tmpl_var name='variables_txt'}: {tmpl_var name="message_variables"} <br />{tmpl_var name='variables_description_txt'}</div>
			</div>
      <div class="form-group">
      	<label for="message" class="col-sm-3 control-label">{tmpl_var name='message_txt'}</label>
        <div class="col-sm-9"><textarea class="form-control" name="message" id="message" style="height:300px">{tmpl_var name='message'}</textarea>
		{tmpl_var name='variables_txt'}: {tmpl_var name="message_variables"} <br />{tmpl_var name='variables_description_txt'}</div>
      </div>
	  <div class="clear"><div class="right">
      <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="client/message_template_edit.php">{tmpl_var name='btn_save_txt'}</button>
      <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="client/message_template_list.php">{tmpl_var name='btn_cancel_txt'}</button>
    </div></div>
    

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    
  </div>
