<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>


    <p class="fieldset-legend">{tmpl_var name="toolsarea_head_txt"}</p>      
        <button class="btn btn-default formbutton-success" type="button" data-load-content="billing/invoice_message_template_edit.php">{tmpl_var name="add_new_record_txt"}</button>

    <p class="fieldset-legend"><tmpl_var name="list_head_txt"></p>
      <div class="table-wrapper marginTop15">
	<table class="table">
        <thead class="dark form-group-sm">
          <tr>
            <th data-column="template_type"><tmpl_var name="template_type_txt"></th>
            <th data-column="template_name"><tmpl_var name="template_name_txt"></th>
            <th class="text-right">&nbsp;</th>
          </tr>
          <tr>
            <td><select class="form-control" name="search_template_type" onChange="ISPConfig.submitForm('pageForm','billing/invoice_message_template_list.php');">{tmpl_var name='search_template_type'}</select></td>
            <td><input class="form-control" type="text" name="search_template_name" value="{tmpl_var name='search_template_name'}" /></td>
            <td class="text-right"><div class="buttons"><button type="button" class="btn btn-default formbutton-default formbutton-narrow" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" data-submit-form="pageForm" data-form-action="billing/invoice_message_template_list.php"><span class="icon icon-filter"></span></button></div></td>
          </tr>
        </thead>
        <tbody>
          <tmpl_loop name="records">
          <tr>
            <td><a href="#" data-load-content="billing/invoice_message_template_edit.php?id={tmpl_var name='id'}">{tmpl_var name="template_type"}</a></td>
            <td><a href="#" data-load-content="billing/invoice_message_template_edit.php?id={tmpl_var name='id'}">{tmpl_var name="template_name"}</a></td>
            <td class="text-right">
              <div class="buttons icons16">    
                <a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('billing/invoice_message_template_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');"><span class="icon icon-delete"></span></a>
              </div>
            </td>
          </tr>
          </tmpl_loop>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3"><tmpl_var name="paging"></td>
          </tr>
        </tfoot>
      </table>
</div>
    
  