<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>

<tmpl_if name="edit_disabled">
	<div class="form-group">
		<label for="mailinglist_id_disabled" class="col-sm-3 control-label">{tmpl_var name='listname_txt'}</label>
		<div class="col-sm-6"><select name="mailinglist_id_disabled" id="mailinglist_id_disabled" class="form-control" disabled="disabled">{tmpl_var name='mailinglist_id'}</select></div>
		<input type="hidden" name="mailinglist_id" value="{tmpl_var name='mailinglist_id_value'}" />
	</div>
	<div class="form-group">
	<label for="name" class="col-sm-3 control-label">{tmpl_var name='name_txt'}</label>
	<div class="col-sm-6">
		<input type="text" name="name" id="name" value="{tmpl_var name='name'}" class="form-control" />
	</div>
	<div class="col-sm-3 input-sm"> &nbsp; {tmpl_var name='name_optional_txt'}</div>
</div>
<div class="form-group">
	<label for="email_disabled" class="col-sm-3 control-label">{tmpl_var name='email_txt'}</label>
	<div class="col-sm-6">
		<input type="text" name="email_disabled" id="email_disabled" value="{tmpl_var name='email'}" class="form-control" disabled="disabled" />
	</div><input type="hidden" name="email" value="{tmpl_var name='email_value'}" />
</div>
<div class="form-group">
	<label class="col-sm-3 control-label">{tmpl_var name='goodbyeMsg_txt'}</label>
	<div class="col-sm-9">
		{tmpl_var name='goodbye_msg'}
	</div>
</div>
<tmpl_else>
	<div class="form-group">
		<label for="mailinglist_id" class="col-sm-3 control-label">{tmpl_var name='listname_txt'}</label>
		<div class="col-sm-6"><select name="mailinglist_id" id="mailinglist_id" class="form-control">
			{tmpl_var name='mailinglist_id'}
		</select></div>
	</div>
	<div class="form-group">
	<label for="name" class="col-sm-3 control-label">{tmpl_var name='name_txt'}</label>
	<div class="col-sm-6">
		<input type="text" name="name" id="name" value="{tmpl_var name='name'}" class="form-control" />
	</div>
	<div class="col-sm-3 input-sm"> &nbsp; {tmpl_var name='name_optional_txt'}</div>
</div>
<div class="form-group">
	<label for="email" class="col-sm-3 control-label">{tmpl_var name='email_txt'}</label>
	<div class="col-sm-6">
		<input type="text" name="email" id="email" value="{tmpl_var name='email'}" class="form-control" />
	</div>
</div>
<div class="form-group">
	<label class="col-sm-3 control-label">{tmpl_var name='welcomeMsg_txt'}</label>
	<div class="col-sm-9">
		{tmpl_var name='welcome_msg'}
	</div>
</div>
</tmpl_if>

<input type="hidden" name="id" value="{tmpl_var name='id'}">

<div class="clear"><div class="right">
		<button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="mail/mail_ml_membership_edit.php">{tmpl_var name='btn_save_txt'}</button>
	<button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="mail/mail_ml_membership_list.php">{tmpl_var name='btn_cancel_txt'}</button>
</div></div>