<div class="pnl_toolsarea">
        <tmpl_if name='datalog_changes_count' op='>' value='0'>
        <div>
            <div class="systemmonitor-state state-info">
                <div class="status"></div>
                <div class="statusMsg">
                    {tmpl_var name="datalog_changes_txt"}
                    <ul>
                    <tmpl_loop name="datalog_changes">
                        <li><strong>{tmpl_var name="text"}:</strong> {tmpl_var name="count"}</li>
                    </tmpl_loop>
                    </ul>
                    {tmpl_var name="datalog_changes_end_txt"}
                </div>
            </div><br />
        </div>
        </tmpl_if>
    <p class="fieldset-legend">{tmpl_var name="toolsarea_head_txt"}</p>
        
            <button class="btn btn-default formbutton-success" type="button" data-load-content="mail/mail_user_filter_edit.php?mailuser_id={tmpl_var name='parent_id'}">{tmpl_var name="add_new_record_txt"}</button>
        
    


    <p class="fieldset-legend"><tmpl_var name="list_head_txt"></p>
        <div class="table-wrapper marginTop15">
<table class="table">
            <thead class="dark form-group-sm">
                <tr>
                    <th data-column="rulename"><tmpl_var name="rulename_txt"></th>
                    <th class="text-right">{tmpl_var name='search_limit'}</th>
                </tr>
                <tr>
                    <td><input class="form-control" type="text" name="search_rulename" value="{tmpl_var name='search_rulename'}" /></td>
                    <td class="text-right">
                        <button type="button" class="btn btn-default formbutton-default formbutton-narrow" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" onclick="return ISPConfig.changeTab('filter_records','mail/mail_user_edit.php');"><span class="icon icon-filter"></span></button>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tmpl_loop name="records">
                    <tr>
                        <td><a href="#" data-load-content="mail/mail_user_filter_edit.php?id={tmpl_var name='id'}">{tmpl_var name="rulename"}</a></td>
                        <td class="text-right">
                            <a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('mail/mail_user_filter_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');"><span class="icon icon-delete"></span></a>
                        </td>
                    </tr>
                </tmpl_loop>
                <tmpl_unless name="records">
                    <tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                        <td colspan="2">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
                    </tr>
                </tmpl_unless>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"><tmpl_var name="paging"></td>
                </tr>
            </tfoot>
        </table>
</div>
    
