<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        
            <div class="form-group">
                <label for="server_id" class="col-sm-3 control-label">{tmpl_var name='server_id_txt'}</label>
                <div class="col-sm-9"><select name="server_id" id="server_id" class="form-control">
                    {tmpl_var name='server_id'}
                </select></div>
            </div>
            <div class="form-group">
                <label for="domain" class="col-sm-3 control-label">{tmpl_var name='domain_txt'}</label>
                <div class="col-sm-9"><input type="text" name="domain" id="domain" value="{tmpl_var name='domain'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="type" class="col-sm-3 control-label">{tmpl_var name='type_txt'}</label>
                <div class="col-sm-9"><select name="type" id="type" class="form-control">
                    {tmpl_var name='type'}
                </select></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='mx_txt'}</label>
                <div class="col-sm-9">
					<input type="checkbox" value="y" id="mx" name="mx" {tmpl_var name='mx'} />
				</div>
            </div>
            <div class="form-group">
                <label for="destination" class="col-sm-3 control-label">{tmpl_var name='destination_txt'}</label>
                <div class="col-sm-9"><input type="text" name="destination" id="transport" value="{tmpl_var name='destination'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="sort_order" class="col-sm-3 control-label">{tmpl_var name='sort_order_txt'}</label>
                <div class="col-sm-9"><select name="sort_order" id="sort_order" class="form-control">
                    {tmpl_var name='sort_order'}
                </select></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='active_txt'}</label>
                <div class="col-sm-9">
                    {tmpl_var name='active'}
                </div>
            </div>
        

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="mail/mail_transport_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="mail/mail_transport_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div></div>