<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        
            <div class="form-group">
                <label for="type" class="col-sm-3 control-label">{tmpl_var name='type_txt'}</label>
                <div class="col-sm-9"><select name="type" id="type" class="form-control">
                    {tmpl_var name='type'}
                </select></div>
            </div>
            <div class="form-group">
                <label for="source_server" class="col-sm-3 control-label">{tmpl_var name='source_server_txt'}</label>
                <div class="col-sm-9"><input type="text" name="source_server" id="source_server" value="{tmpl_var name='source_server'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="source_username" class="col-sm-3 control-label">{tmpl_var name='source_username_txt'}</label>
                <div class="col-sm-9"><input type="text" name="source_username" id="source_username" value="{tmpl_var name='source_username'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="source_password" class="col-sm-3 control-label">{tmpl_var name='source_password_txt'}</label>
                <div class="col-sm-9"><input type="password" name="source_password" id="source_password" value="{tmpl_var name='source_password'}" class="form-control" /></div></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='source_delete_txt'}</label>
                <div class="col-sm-9">
                    {tmpl_var name='source_delete'} {tmpl_var name="source_delete_note_txt"}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='source_read_all_txt'}</label>
                <div class="col-sm-9">        
                    {tmpl_var name='source_read_all'} 
                </div>                          
            </div>
            <div class="form-group">
                <label for="destination" class="col-sm-3 control-label">{tmpl_var name='destination_txt'}</label>
                <div class="col-sm-9"><select name="destination" id="destination" class="form-control">
                    {tmpl_var name='destination'}
                </select></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='active_txt'}</label>
                <div class="col-sm-9">
                    {tmpl_var name='active'}
                </div>
            </div>
        

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="mail/mail_get_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="mail/mail_get_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div></div>