<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        <fieldset id="wf_area_spamfilter_config">
            <span class="wf_oneField">
                <label for="ip_address" class="col-sm-3 control-label">{tmpl_var name='ip_address_txt'}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="ip_address" name="ip_address" value="{tmpl_var name='ip_address'}"></div></span>
            <span class="wf_oneField">
                <label for="netmask" class="col-sm-3 control-label">{tmpl_var name='netmask_txt'}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="netmask" name="netmask" value="{tmpl_var name='netmask'}"></div></span>
            <span class="wf_oneField">
                <label for="gateway" class="col-sm-3 control-label">{tmpl_var name='gateway_txt'}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="gateway" name="gateway" value="{tmpl_var name='gateway'}"></div></span>
            <span class="wf_oneField">
                <label for="hostname" class="col-sm-3 control-label">{tmpl_var name='hostname_txt'}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="hostname" name="hostname" value="{tmpl_var name='hostname'}"></div></span>
            <span class="wf_oneField">
                <label for="nameservers" class="col-sm-3 control-label">{tmpl_var name='nameservers_txt'}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="nameservers" name="nameservers" value="{tmpl_var name='nameservers'}"></div></span>
        </fieldset>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

        <div class="wf_actions buttons">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="mail/spamfilter_config_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="mail/spamfilter_config_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
