<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        
            <div class="form-group">
                <label for="server_id" class="col-sm-3 control-label">{tmpl_var name='server_id_txt'}</label>
                <div class="col-sm-9"><select name="server_id" id="server_id" class="form-control">
                    {tmpl_var name='server_id'}
                </select></div>
            </div>
            <div class="form-group">
                <label for="priority" class="col-sm-3 control-label">{tmpl_var name='priority_txt'}</label>
                <div class="col-sm-9"><select name="priority" id="priority" class="form-control">
                    {tmpl_var name='priority'}
                </select></div>
            </div>
            <div class="form-group">
                <label for="policy_id" class="col-sm-3 control-label">{tmpl_var name='policy_id_txt'}</label>
                <div class="col-sm-9"><select name="policy_id" id="policy_id" class="form-control">
                    {tmpl_var name='policy_id'}
                </select></div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">{tmpl_var name='email_txt'}</label>
                <div class="col-sm-9"><input type="text" name="email" id="email" value="{tmpl_var name='email'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="fullname" class="col-sm-3 control-label">{tmpl_var name='fullname_txt'}</label>
                <div class="col-sm-9"><input type="text" name="fullname" id="fullname" value="{tmpl_var name='fullname'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="local" class="col-sm-3 control-label">{tmpl_var name='local_txt'}</label>
                <div class="col-sm-9"><select name="local" id="local" class="form-control">
                    {tmpl_var name='local'}
                </select></div>
            </div>
        

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="mail/spamfilter_users_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="mail/spamfilter_users_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div></div>