<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        <fieldset id="wf_area_spamfilter_config">
            <span class="wf_oneField">
                <label for="getmail_config_dir" class="col-sm-3 control-label">{tmpl_var name='getmail_config_dir_txt'}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="getmail_config_dir" name="getmail_config_dir" value="{tmpl_var name='getmail_config_dir'}"></div></span>
        </fieldset>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

        <div class="wf_actions buttons">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="mail/spamfilter_config_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="mail/spamfilter_config_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>