<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        <fieldset id="wf_area_spamfilter_config">
            <span class="wf_oneField">
                <label for="module" class="col-sm-3 control-label">{tmpl_var name='module_txt'}</label>
                <div class="col-sm-9"><select class="form-control" id="module" name="module">{tmpl_var name='module'}</select></div>
            </span>
            <span class="wf_oneField">
                <label for="maildir_path" class="col-sm-3 control-label">{tmpl_var name='maildir_path_txt'}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="maildir_path" name="maildir_path" value="{tmpl_var name='maildir_path'}"></div></span>
            <span class="wf_oneField">
                <label for="homedir_path" class="col-sm-3 control-label">{tmpl_var name='homedir_path_txt'}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="homedir_path" name="homedir_path" value="{tmpl_var name='homedir_path'}"></div></span>
            <span class="wf_oneField">
                <label for="mailuser_uid" class="col-sm-3 control-label">{tmpl_var name='mailuser_uid_txt'}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="mailuser_uid" name="mailuser_uid" value="{tmpl_var name='mailuser_uid'}"></div></span>
            <span class="wf_oneField">
                <label for="mailuser_gid" class="col-sm-3 control-label">{tmpl_var name='mailuser_gid_txt'}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="mailuser_gid" name="mailuser_gid" value="{tmpl_var name='mailuser_gid'}"></div></span>
            <span class="wf_oneField">
                <label for="mailuser_name" class="col-sm-3 control-label">{tmpl_var name='mailuser_name_txt'}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="mailuser_name" name="mailuser_name" value="{tmpl_var name='mailuser_name'}"></div></span>
            <span class="wf_oneField">
                <label for="mailuser_group" class="col-sm-3 control-label">{tmpl_var name='mailuser_group_txt'}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="mailuser_group" name="mailuser_group" value="{tmpl_var name='mailuser_group'}"></div></span>
            <span class="wf_oneField">
                <label for="relayhost" class="col-sm-3 control-label">{tmpl_var name='relayhost_txt'}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="relayhost" name="relayhost" value="{tmpl_var name='relayhost'}"></div></span>
            <span class="wf_oneField">
                <label for="relayhost_user" class="col-sm-3 control-label">{tmpl_var name='relayhost_user_txt'}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="relayhost_user" name="relayhost_user" value="{tmpl_var name='relayhost_user'}"></div></span>
            <span class="wf_oneField">
                <label for="relayhost_password" class="col-sm-3 control-label">{tmpl_var name='relayhost_password_txt'}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="relayhost_password" name="relayhost_password" value="{tmpl_var name='relayhost_password'}"></div></span>
            <span class="wf_oneField">
                <label for="mailbox_size_limit" class="col-sm-3 control-label">{tmpl_var name='mailbox_size_limit_txt'}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="mailbox_size_limit" name="mailbox_size_limit" value="{tmpl_var name='mailbox_size_limit'}"></div></span>
            <span class="wf_oneField">
                <label for="message_size_limit" class="col-sm-3 control-label">{tmpl_var name='message_size_limit_txt'}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="message_size_limit" name="message_size_limit" value="{tmpl_var name='message_size_limit'}"></div></span>
        </fieldset>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

        <div class="wf_actions buttons">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="mail/spamfilter_config_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="mail/spamfilter_config_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>