<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>


        <p class="fieldset-legend"><tmpl_var name="list_head_txt"></p>
            <div class="table-wrapper marginTop15">
<table class="table">
                <thead class="dark form-group-sm">
                    <tr>
                        <th class="col-md-3" data-column="email"><tmpl_var name="email_txt"></th>
                        <th class="col-md-2" data-column="name"><tmpl_var name="name_txt"></th>
                        <th class="col-md-2" data-column="used_sort"><tmpl_var name="used_txt"></th>
                        <th class="col-md-2" data-column="quota"><tmpl_var name="quota_txt"></th>
                        <th class="col-md-2" data-column="percentage_sort"><tmpl_var name="percentage_txt"></th>
                        <th class="col-md-1 text-right">{tmpl_var name='search_limit'}</th>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="text" name="search_email" value="{tmpl_var name='search_email'}" /></td>
                        <td><input class="form-control" type="text" name="search_system_user" value="{tmpl_var name='search_name'}" /></td>
                        <td>&nbsp;</td>
			<td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="text-right">
                            <button type="button" class="btn btn-default formbutton-default formbutton-narrow" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" data-submit-form="pageForm" data-form-action="mail/user_quota_stats.php"><span class="icon icon-filter"></span></button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tmpl_loop name="records">
                        <tr>
                            <td><a href="#" data-load-content="mail/mail_user_edit.php?id={tmpl_var name='id'}">{tmpl_var name="email"}</a></td>
                            <td><a href="#" data-load-content="mail/mail_user_edit.php?id={tmpl_var name='id'}">{tmpl_var name="name"}</a></td>
                            <td><a href="#" data-load-content="mail/mail_user_edit.php?id={tmpl_var name='id'}">{tmpl_var name="used"}</a></td>
                            <td><a href="#" data-load-content="mail/mail_user_edit.php?id={tmpl_var name='id'}">{tmpl_var name="quota"}</a></td>
                            <td colspan="2">
				{tmpl_if name="progressbar" op="!=" value="-1"}<div class="progress" style="height: 20px">
					<div class='progress-bar-striped progress-bar-{tmpl_if name="percentage_sort" op="<" value="50"}success{tmpl_elseif name="percentage_sort" op="<" value="75"}warning{tmpl_else}danger{/tmpl_if}' role="progressbar" style="width: {tmpl_var name="progressbar"}%;" aria-valuenow="{tmpl_var name="percentage"}" aria-valuemin="0" aria-valuemax="100"><span{tmpl_if name="progressbar" op="<" value="25"} class="pbvaluemargin"{/tmpl_if}>{tmpl_var name="percentage"}</span></div>
				</div>{/tmpl_if}
			    </td>
                        </tr>
                    </tmpl_loop>
                    <tmpl_unless name="records">
                        <tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                            <td colspan="6">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
                        </tr>
                    </tmpl_unless>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6"><tmpl_var name="paging"></td>
                    </tr>
                </tfoot>
            </table>
</div>
        
    </div>
