<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


<tmpl_if name="limit_xmpp_anon" value="y">
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='use_anon_host_txt'}</label>
        <div class="col-sm-9">
            {tmpl_var name='use_anon_host'}
        </div>
    </div>
</tmpl_if>
<div class="form-group">
    <label class="col-sm-3 control-label">{tmpl_var name='use_pubsub_txt'}</label>
    <div class="col-sm-9">
        {tmpl_var name='use_pubsub'}
    </div>
</div>
<tmpl_if name="limit_xmpp_vjud" value="y">
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='use_vjud_txt'}</label>
        <div class="col-sm-9">
            {tmpl_var name='use_vjud'}
        </div>
    </div>
    <div class="form-group">
        <label for="vjud_opt_mode" class="col-sm-3 control-label">{tmpl_var name='vjud_opt_mode_txt'}</label>
        <div class="col-sm-3"><select name="vjud_opt_mode" id="vjud_opt_mode" class="form-control">
            {tmpl_var name='vjud_opt_mode'}
        </select></div>
    </div>
</tmpl_if>
<tmpl_if name="limit_xmpp_proxy" value="y">
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='use_proxy_txt'}</label>
        <div class="col-sm-9">
            {tmpl_var name='use_proxy'}
        </div>
    </div>
</tmpl_if>
<tmpl_if name="limit_xmpp_status" value="y">
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='use_status_host_txt'}</label>
        <div class="col-sm-9">
            {tmpl_var name='use_status_host'}
        </div>
    </div>
</tmpl_if>

<tmpl_if name="limit_xmpp_webpresence" value="y">
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='use_webpresence_txt'}</label>
        <div class="col-sm-9">
            {tmpl_var name='use_webpresence'}
            {tmpl_var name='xmpp_daemon'}
        </div>
    </div>
</tmpl_if>

<tmpl_if name="limit_xmpp_http_upload" value="y">
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='use_http_upload_txt'}</label>
        <div class="col-sm-9">
            {tmpl_var name='use_http_upload'}
        </div>
    </div>
</tmpl_if>



        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <input type="hidden" name="type" value="modules" />
        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="mail/xmpp_domain_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="mail/xmpp_domain_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div></div>
