<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">{tmpl_var name='name_txt'}</label>
                <div class="col-sm-9"><input type="text" name="name" id="name" value="{tmpl_var name='name'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="description" class="col-sm-3 control-label">{tmpl_var name='description_txt'}</label>
                <div class="col-sm-9"><textarea class="form-control" name="description" id="description" rows='5' cols='30'>{tmpl_var name='description'}</textarea></div>
            </div>
        
            
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
            
        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="admin/groups_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="admin/groups_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div></div>