<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        <legend>Tools</legend>
            
                <div class="form-group">
                    <label for="lng_select" class="col-sm-3 control-label">{tmpl_var name='language_select_txt'}</label>
                    <div class="col-sm-9"><select name="lng_select" id="language" class="form-control flags" onChange="ISPConfig.submitForm('pageForm','admin/language_list.php');">
                        {tmpl_var name='language_option'}
                    </select></div>
                
        
    </div>
  
    
        <p class="fieldset-legend"><tmpl_var name="list_head_txt"></p>
            <div class="table-wrapper marginTop15">
<table class="table">
                <thead class="dark form-group-sm">
                    <tr>
                        <th data-column="module"><tmpl_var name="module_txt"></th>
                        <th data-column="lang_file"><tmpl_var name="lang_file_txt"></th>
                        <th class="small-col text-right" data-column="lang_file_date"><tmpl_var name="lang_file_date_txt"></th>
                    </tr>
                </thead>
                <tbody>
                    <tmpl_loop name="records">
                        <tr>
                            <td><a href="#" data-load-content="admin/language_edit.php?lang_file={tmpl_var name="lang_file"}&module={tmpl_var name="module"}&lang={tmpl_var name="lang"}">{tmpl_var name="module"}</a></td>
                            <td><a href="#" data-load-content="admin/language_edit.php?lang_file={tmpl_var name="lang_file"}&module={tmpl_var name="module"}&lang={tmpl_var name="lang"}">{tmpl_var name="lang_file"}</a></td>
                            <td><a href="#" data-load-content="admin/language_edit.php?lang_file={tmpl_var name="lang_file"}&module={tmpl_var name="module"}&lang={tmpl_var name="lang"}">{tmpl_var name="lang_file_date"}</a></td>
                        </tr>
                    </tmpl_loop>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"><tmpl_var name="paging"></td>
                    </tr>
                </tfoot>
            </table>
</div>
        
    