<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        
            <div class="form-group">
                <label for="module" class="col-sm-3 control-label">{tmpl_var name='module_txt'}</label>
                <div class="col-sm-9"><select name="module" id="module" class="form-control">
                    {tmpl_var name='module'}
                </select></div>
            </div>
            <div class="form-group">
                <label for="maildir_path" class="col-sm-3 control-label">{tmpl_var name='maildir_path_txt'}</label>
                <div class="col-sm-9"><input type="text" name="maildir_path" id="maildir_path" value="{tmpl_var name='maildir_path'}" class="form-control" /></div></div>
            <div class="form-group">
				<label class="col-sm-3 control-label">{tmpl_var name='maildir_format_txt'}</label>
				<div class="col-sm-9"><select name="maildir_format" id="maildir_format" class="form-control">
						{tmpl_var name='maildir_format'}
					</select></div>
			</div>
            <div class="form-group">
                <label for="homedir_path" class="col-sm-3 control-label">{tmpl_var name='homedir_path_txt'}</label>
                <div class="col-sm-9"><input type="text" name="homedir_path" id="homedir_path" value="{tmpl_var name='homedir_path'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="dkim_path" class="col-sm-3 control-label">{tmpl_var name='dkim_path_txt'}</label>
                <div class="col-sm-9"><input type="text" name="dkim_path" id="dkim_path" value="{tmpl_var name='dkim_path'}" class="form-control" /></div></div>
            <div class="form-group">
				<label class="col-sm-3 control-label">{tmpl_var name='dkim_strength_txt'}</label>
				<div class="col-sm-9"><select name="dkim_strength" id="dkim_strength" class="form-control">
						{tmpl_var name='dkim_strength'}
					</select></div>
			</div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='pop3_imap_daemon_txt'}</label>
                <div class="col-sm-9"><select name="pop3_imap_daemon" id="pop3_imap_daemon" class="form-control">
                        {tmpl_var name='pop3_imap_daemon'}
                    </select></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='mail_filter_syntax_txt'}</label>
                <div class="col-sm-9"><select name="mail_filter_syntax" id="mail_filter_syntax" class="form-control">
                        {tmpl_var name='mail_filter_syntax'}
                    </select></div>
            </div>
            <div class="form-group">
                <label for="mailuser_uid" class="col-sm-3 control-label">{tmpl_var name='mailuser_uid_txt'}</label>
                <div class="col-sm-9"><input type="text" name="mailuser_uid" id="mailuser_uid" value="{tmpl_var name='mailuser_uid'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="mailuser_gid" class="col-sm-3 control-label">{tmpl_var name='mailuser_gid_txt'}</label>
                <div class="col-sm-9"><input type="text" name="mailuser_gid" id="mailuser_gid" value="{tmpl_var name='mailuser_gid'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="mailuser_name" class="col-sm-3 control-label">{tmpl_var name='mailuser_name_txt'}</label>
                <div class="col-sm-9"><input type="text" name="mailuser_name" id="mailuser_name" value="{tmpl_var name='mailuser_name'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="mailuser_group" class="col-sm-3 control-label">{tmpl_var name='mailuser_group_txt'}</label>
                <div class="col-sm-9"><input type="text" name="mailuser_group" id="mailuser_group" value="{tmpl_var name='mailuser_group'}" class="form-control" /></div></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='mailbox_virtual_uidgid_maps_txt'}</label>
                <div class="col-sm-9">
                    {tmpl_var name='mailbox_virtual_uidgid_maps'}&nbsp;{tmpl_var name='mailbox_virtual_uidgid_maps_info_txt'}
                </div>
            </div>
            <div class="form-group">
                <label for="relayhost" class="col-sm-3 control-label">{tmpl_var name='relayhost_txt'}</label>
                <div class="col-sm-9"><input type="text" name="relayhost" id="relayhost" value="{tmpl_var name='relayhost'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="relayhost_user" class="col-sm-3 control-label">{tmpl_var name='relayhost_user_txt'}</label>
                <div class="col-sm-9"><input type="text" name="relayhost_user" id="relayhost_user" value="{tmpl_var name='relayhost_user'}" autocomplete="off" class="form-control" autocomplete="off" /></div></div>
            <div class="form-group">
                <label for="relayhost_password" class="col-sm-3 control-label">{tmpl_var name='relayhost_password_txt'}</label>
                <div class="col-sm-9"><input type="password" name="relayhost_password" id="relayhost_password" value="{tmpl_var name='relayhost_password'}" autocomplete="off" class="form-control" autocomplete="off" /></div></div>
			<div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='reject_sender_login_mismatch_txt'}</label>
                <div class="col-sm-9">
                    {tmpl_var name='reject_sender_login_mismatch'}
                </div>
            </div>
            <div class="form-group">
                <label for="mailbox_size_limit" class="col-sm-3 control-label">{tmpl_var name='mailbox_size_limit_txt'}</label>
                <div class="col-sm-6"><input type="text" name="mailbox_size_limit" id="mailbox_size_limit" value="{tmpl_var name='mailbox_size_limit'}" class="form-control" /></div><div class="col-sm-3 input-sm">&nbsp;MB
            </div></div>
            <div class="form-group">
                <label for="message_size_limit" class="col-sm-3 control-label">{tmpl_var name='message_size_limit_txt'}</label>
                <div class="col-sm-6"><input type="text" name="message_size_limit" id="message_size_limit" value="{tmpl_var name='message_size_limit'}" class="form-control" /></div><div class="col-sm-3 input-sm">&nbsp;MB
            </div></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='mailbox_quota_stats_txt'}</label>
                <div class="col-sm-9">
                    {tmpl_var name='mailbox_quota_stats'}
                </div>
            </div>
            <div class="form-group">
                <label for="realtime_blackhole_list" class="col-sm-3 control-label">{tmpl_var name='realtime_blackhole_list_txt'}</label>
                <div class="col-sm-6"><input type="text" name="realtime_blackhole_list" id="realtime_blackhole_list" value="{tmpl_var name='realtime_blackhole_list'}" class="form-control" /></div><div class="col-sm-3 input-sm">&nbsp;{tmpl_var name='realtime_blackhole_list_note_txt'}
            </div></div>
			<div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='overquota_notify_admin_txt'}</label>
                <div class="col-sm-9">
                    {tmpl_var name='overquota_notify_admin'}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='overquota_notify_client_txt'}</label>
                <div class="col-sm-9">
                    {tmpl_var name='overquota_notify_client'}
                </div>
            </div>
            <div class="form-group">
                <label for="overquota_notify_freq" class="col-sm-3 control-label">{tmpl_var name='overquota_notify_freq_txt'}</label>
                <div class="col-sm-6"><input type="text" name="overquota_notify_freq" id="overquota_notify_freq" value="{tmpl_var name='overquota_notify_freq'}" class="form-control" /></div><div class="col-sm-3 input-sm">&nbsp;{tmpl_var name='overquota_notify_freq_note_txt'}
            </div></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='overquota_notify_onok_txt'}</label>
                <div class="col-sm-9">
                    {tmpl_var name='overquota_notify_onok'}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='mailinglist_manager_txt'}</label>
                <div class="col-sm-9"><select name="mailinglist_manager" id="mailinglist_manager" class="form-control">
                        {tmpl_var name='mailinglist_manager'}
                    </select></div>
            </div>
        
            
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
            
        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="admin/server_config_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="admin/server_config_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div></div>
