<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>


        <p class="fieldset-legend">{tmpl_var name="toolsarea_head_txt"}</p>
            
                <button class="btn btn-default formbutton-success" type="button" data-load-content="admin/server_php_edit.php">{tmpl_var name="add_new_record_txt"}</button>
            
        

    
        <p class="fieldset-legend"><tmpl_var name="list_head_txt"></p>
            <div class="table-wrapper marginTop15">
<table class="table">
                <thead class="dark form-group-sm">
                    <tr>
                        <th data-column="server_id"><tmpl_var name="server_id_txt"></th>
                        <th class="small-col" data-column="client_id"><tmpl_var name="client_id_txt"></th>
                        <th data-column="name"><tmpl_var name="name_txt"></th>
                        <th class="text-right">{tmpl_var name='search_limit'}</th>
                    </tr>
                    <tr>
                        <td><select class="form-control" name="search_server_id">{tmpl_var name='search_server_id'}</select></td>
                        <td><select class="form-control" name="search_client_id">{tmpl_var name='search_client_id'}</select></td>
                        <td><input class="form-control" type="text" name="search_name" value="{tmpl_var name='search_name'}" /></td>
                        <td class="text-right">
                            <button type="button" class="btn btn-default formbutton-default formbutton-narrow" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" data-submit-form="pageForm" data-form-action="admin/server_php_list.php"><span class="icon icon-filter"></span></button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tmpl_loop name="records">
                        <tr>
                            <td><a href="#" data-load-content="admin/server_php_edit.php?id={tmpl_var name='id'}">{tmpl_var name="server_id"}</a></td>
                            <td><a href="#" data-load-content="admin/server_php_edit.php?id={tmpl_var name='id'}">{tmpl_var name="client_id"}</a></td>
                            <td><a href="#" data-load-content="admin/server_php_edit.php?id={tmpl_var name='id'}">{tmpl_var name="name"}</a></td>
                            <td class="text-right">
                                <a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('admin/server_php_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');"><span class="icon icon-delete"></span></a>
                            </td>
                        </tr>
                    </tmpl_loop>
                    <tmpl_unless name="records">
                        <tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                            <td colspan="4">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
                        </tr>
                    </tmpl_unless>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4"><tmpl_var name="paging"></td>
                    </tr>
                </tfoot>
            </table>
</div>
        
    