<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        
            <div class="form-group">
                <label for="bind_user" class="col-sm-3 control-label">{tmpl_var name='bind_user_txt'}</label>
                <div class="col-sm-9"><input type="text" name="bind_user" id="bind_user" value="{tmpl_var name='bind_user'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="bind_group" class="col-sm-3 control-label">{tmpl_var name='bind_group_txt'}</label>
                <div class="col-sm-9"><input type="text" name="bind_group" id="bind_group" value="{tmpl_var name='bind_group'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="bind_zonefiles_dir" class="col-sm-3 control-label">{tmpl_var name='bind_zonefiles_dir_txt'}</label>
                <div class="col-sm-9"><input type="text" name="bind_zonefiles_dir" id="bind_zonefiles_dir" value="{tmpl_var name='bind_zonefiles_dir'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="named_conf_path" class="col-sm-3 control-label">{tmpl_var name='named_conf_path_txt'}</label>
                <div class="col-sm-9"><input type="text" name="named_conf_path" id="named_conf_path" value="{tmpl_var name='named_conf_path'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="named_conf_local_path" class="col-sm-3 control-label">{tmpl_var name='named_conf_local_path_txt'}</label>
                <div class="col-sm-9"><input type="text" name="named_conf_local_path" id="named_conf_local_path" value="{tmpl_var name='named_conf_local_path'}" class="form-control" /></div></div>
			<div class="form-group">
				<label for="disable_bind_log" class="col-sm-3 control-label">{tmpl_var name='disable_bind_log_txt'}</label>
				<div class="col-sm-9">{tmpl_var name='disable_bind_log'}</div></div>
            
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
            
        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="admin/server_config_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="admin/server_config_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div></div>
