<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        
            <div class="form-group">
                <label for="fastcgi_starter_path" class="col-sm-3 control-label">{tmpl_var name='fastcgi_starter_path_txt'}</label>
                <div class="col-sm-9"><input type="text" name="fastcgi_starter_path" id="fastcgi_starter_path" value="{tmpl_var name='fastcgi_starter_path'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="fastcgi_starter_script" class="col-sm-3 control-label">{tmpl_var name='fastcgi_starter_script_txt'}</label>
                <div class="col-sm-9"><input type="text" name="fastcgi_starter_script" id="fastcgi_starter_script" value="{tmpl_var name='fastcgi_starter_script'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="fastcgi_alias" class="col-sm-3 control-label">{tmpl_var name='fastcgi_alias_txt'}</label>
                <div class="col-sm-9"><input type="text" name="fastcgi_alias" id="fastcgi_alias" value="{tmpl_var name='fastcgi_alias'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="fastcgi_phpini_path" class="col-sm-3 control-label">{tmpl_var name='fastcgi_phpini_path_txt'}</label>
                <div class="col-sm-9"><input type="text" name="fastcgi_phpini_path" id="fastcgi_phpini_path" value="{tmpl_var name='fastcgi_phpini_path'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="fastcgi_children" class="col-sm-3 control-label">{tmpl_var name='fastcgi_children_txt'}</label>
                <div class="col-sm-9"><input type="text" name="fastcgi_children" id="fastcgi_children" value="{tmpl_var name='fastcgi_children'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="fastcgi_max_requests" class="col-sm-3 control-label">{tmpl_var name='fastcgi_max_requests_txt'}</label>
                <div class="col-sm-9"><input type="text" name="fastcgi_max_requests" id="fastcgi_max_requests" value="{tmpl_var name='fastcgi_max_requests'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="fastcgi_bin" class="col-sm-3 control-label">{tmpl_var name='fastcgi_bin_txt'}</label>
                <div class="col-sm-9"><input type="text" name="fastcgi_bin" id="fastcgi_bin" value="{tmpl_var name='fastcgi_bin'}" class="form-control" /></div></div>
            <div class="form-group">
                <label for="fastcgi_config_syntax" class="col-sm-3 control-label">{tmpl_var name='fastcgi_config_syntax_txt'}</label>
                <div class="col-sm-9"><select name="fastcgi_config_syntax" id="fastcgi_config_syntax" class="form-control">
                    {tmpl_var name='fastcgi_config_syntax'}
                </select></div>
            </div>
        
            
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
            
        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="admin/server_config_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="admin/server_config_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div></div>