<div class='page-header'>
	<h1><tmpl_var name="head_txt"></h1>
</div>
<p><tmpl_var name="desc_txt"></p>

<div class="panel panel_software_repo">
    <tmpl_if name="message_err">
        <div id="errorMsg"><tmpl_var name="message_err"></div>
    </tmpl_if>
    <tmpl_if name="message_ok">
        <div id="OKMsg"><tmpl_var name="message_ok"></div>
    </tmpl_if>
    <tmpl_if name="insert_key">
        <div class="pnl_formsarea">
            
                <p>&nbsp;</p>
                <div class="form-group">
                    <label for="install_key" class="col-sm-3 control-label">{tmpl_var name='install_key_txt'}</label>
                    <div class="col-sm-9"><input type="text" name="install_key" id="install_key" value="{tmpl_var name='install_key'}" class="form-control" /></div></div>
                    
                <input type="hidden" name="package" value="{tmpl_var name='package_name'}">
                <input type="hidden" name="server_id" value="{tmpl_var name='server_id'}">
                <p>&nbsp;</p>
                <div class="clear"><div class="right">
                    <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="admin/software_package_install.php">{tmpl_var name='btn_save_txt'}</button>
                    <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="admin/software_package_list.php">{tmpl_var name='btn_cancel_txt'}</button>
                </div></div>
            
        </div>
    </tmpl_if>
</div>