<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        <legend>Tools</legend>
            
                <div class="form-group">
                    <label for="server_id" class="col-sm-3 control-label">{tmpl_var name='server_select_txt'}</label>
                    <div class="col-sm-9"><select name="server_id" id="server_id" class="form-control" onChange="ISPConfig.submitForm('pageForm','admin/software_update_list.php');">
                        <tmpl_loop name="servers">
                            <option value="{tmpl_var name='server_id'}" {tmpl_var name='selected'}>{tmpl_var name='server_name'}</option>
                        </tmpl_loop>
                    </select></div>
                
        
    </div>
  
    
        <p class="fieldset-legend"><tmpl_var name="list_head_txt"></p>
            <div class="table-wrapper marginTop15">
<table class="table">
                <thead class="dark form-group-sm">
                    <tr>
                        <th data-column="installed"><tmpl_var name="installed_txt"></th>
                        <th data-column="update_title"><tmpl_var name="update_title_txt"></th>
                        <th data-column="version"><tmpl_var name="version_txt"></th>
                    </tr>
                </thead>
                <tbody>
                    <tmpl_loop name="records">
                        <tr>
                            <td>{tmpl_var name="installed"}</td>
                            <td>{tmpl_var name="update_title"}</td>
                            <td>{tmpl_var name="version"}</td>
                        </tr>
                    </tmpl_loop>
                    <tmpl_unless name="records">
                        <tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                            <td colspan="3">{tmpl_var name='no_updates_txt'}</td>
                        </tr>
                    </tmpl_unless>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                </tfoot>
            </table>
</div>
        
    