<tmpl_if name="edit_record">
<tmpl_if name="error">
    <div style="background: #ffdfdf; border: 1px solid #df7d7d; border-width: 1px 0; margin: 1.5em 0 1.5em 0; padding: 7px;">{tmpl_var name='error'}</div>
</tmpl_if>
<input type="hidden" name="id" value="{tmpl_var name='id'}">
<div class="form-group">
	<label for="ca_name" class="col-sm-2 control-label">{tmpl_var name='ca_name_txt'}</label>
	<div class='col-sm-6'><input type='text' class="form-control" name="ca_name" id="ca_name" value="{tmpl_var name='ca_name'}"/></div>
</div>

<div class="form-group">
	<label for="ca_issue" class="col-sm-2 control-label">{tmpl_var name='ca_issue_txt'}</label>
	<div class="col-sm-6"><input name="ca_issue" id="ca_issue" value="{tmpl_var name='ca_issue'}" size="" maxlength="" type="text" class="form-control" /></div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">{tmpl_var name='ca_wildcard_txt'}</label>
	<div class="col-sm-6"><input type="checkbox" value="{tmpl_var name='ca_wildcard'}" id="ca_wildcard" name="ca_wildcard" <tmpl_if name='ca_wildcard' op='==' value='Y'>checked</tmpl_if> /></div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">{tmpl_var name='ca_critical_txt'}</label>
	<div class="col-sm-6"><input type="checkbox" value="{tmpl_var name='ca_critical'}" id="ca_critical" name="ca_critical" <tmpl_if name='ca_critical'>checked</tmpl_if> /></div>
</div>
<!--
<div class="form-group">
	<label for="ca_iodef" class="col-sm-2 control-label">{tmpl_var name='ca_iodef_txt'}</label>
	<div class="col-sm-6"><textarea class="form-control" name="ca_iodef" id="ca_iodef" rows='5' cols='30'>{tmpl_var name='ca_iodef'}</textarea></div>
</div>
-->
<div class="form-group">
    <label class="col-sm-2 control-label">{tmpl_var name='active_txt'}</label>
	<div class="col-sm-6"><input type="checkbox" value="{tmpl_var name='active'}" id="active" name="active" <tmpl_if name='active' op='==' value='Y'>checked</tmpl_if> /></div>
</div>

</div>
<div class="clear"><div class="right">
	<button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="ISPConfig.changeTab('dns_ca','admin/system_config_edit.php?action=save&id={tmpl_var name='id'}', true);"><span class="icon icon-edit"></span>{tmpl_var name='btn_save_txt'}</button>
	<button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="admin/users_list.php">{tmpl_var name='btn_cancel_txt'}</button>
</div></div>
</tmpl_if>
