<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>
<!--
<div class="clear">
	<div class="left">
		<div class="buttonHolder buttons">
			<button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_new_txt'}" onClick="ISPConfig.changeTab('dns_ca','admin/system_config_edit.php?action=edit&id={tmpl_var name='id'}', true);">{tmpl_var name='btn_new_txt'}</button>
		</div>
	</div>
</div>
<br>
-->
{tmpl_var name='dns_ca'}
{tmpl_var name='dns_ca_list'}
<input type="hidden" name="id" value="{tmpl_var name='id'}">
