	<div class='table-wrapper'>
	  <table class='table'>
		<caption>{tmpl_var name='quota_txt'}</caption>
		<thead class="dark form-group-sm">
		  <tr>
			<th>{tmpl_var name='domain_txt'}</th>
			<th>{tmpl_var name='used_txt'}</th>
			<th>{tmpl_var name='soft_txt'}</th>
			<th colspan="2">{tmpl_var name='hard_txt'}</th>
		  </tr>
		</thead>
		<tbody>
		<tmpl_loop name='quota'>
			<tr>
				<td>{tmpl_var name='domain'}</td>
				<td>{tmpl_var name='used'}</td>
				<td>{tmpl_var name='soft'}</td>
				<td>{tmpl_var name='hard'}</td>
				{tmpl_if name="soft" op="!=" value="unlimited"}<td>
				<div class='progress'>
					<div class='progress-bar-striped progress-bar progress-bar-{tmpl_if name="used_percentage" op="<" value="50"}success{tmpl_elseif name="used_percentage" op="<" value="75"}warning{tmpl_else}danger{/tmpl_if}' role='progressbar' aria-valuemin='0' aria-valuemax='100' aria-valuenow='{tmpl_var name="used_percentage"}' style='width:{tmpl_var name="used_percentage"}%'><span{tmpl_if name="progressbar" op="<" value="25"} class="pbvaluemargin"{/tmpl_if}>{tmpl_var name="used_percentage"}%</span><span class='sr-only'>{tmpl_var name='used'} {tmpl_var name='of_txt'} {tmpl_var name='soft'}</span>
					</div>
				</div>
				</td>{tmpl_else}<td></td>{/tmpl_if}
			</tr>
		</tmpl_loop>
		</tbody>
	  </table>
	</div>
