<h1>{tmpl_var name="list_head_txt"}</h1>


        <p class="fieldset-legend">{tmpl_var name="list_head_txt"}</p>
            <div class="table-wrapper marginTop15">
<table class="table">
                <thead class="dark form-group-sm">
                    <tr>
                        <th>{tmpl_var name='name_txt'}</th>
                        <th>{tmpl_var name='version_txt'}</th>
                        <tmpl_if name='is_noclient'>
                        <!--<th>{tmpl_var name='customer_txt'}</th>-->
                        </tmpl_if>
                        <th>{tmpl_var name='install_location_txt'}</th>
                        <th>{tmpl_var name='status_txt'}</th>
                        <th class="small-col text-right" >&nbsp;</th>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="text" name="search_name" value="{tmpl_var name='search_name'}" /></td>
                        <td><input class="form-control" type="text" name="search_version" value="{tmpl_var name='search_version'}" /></td>
                        <tmpl_if name='is_noclient'>
                        <!--<td><input class="form-control" type="text" name="search_customer_name" value="{tmpl_var name='search_customer_name'}" /></td>-->
                        </tmpl_if>
                        <td>&nbsp;</td>
                        <td><select class="form-control" name="search_instance_status" onChange="ISPConfig.submitForm('pageForm','sites/aps_installedpackages_list.php');">{tmpl_var name='search_instance_status'}</select></td>
                        <td class="text-right">
                            <button type="button" class="btn btn-default formbutton-default formbutton-narrow" name="Filter" id="Filter" value="{tmpl_var name='filter_txt'}" data-submit-form="pageForm" data-form-action="sites/aps_installedpackages_list.php"><span class="icon icon-filter"></span></button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tmpl_loop name='records'>
                        <tr>
                            <td><a href="#" data-load-content="sites/aps_packagedetails_show.php?id={tmpl_var name='package_id'}">{tmpl_var name='package_name'}</a></td>
                            <td>{tmpl_var name='package_version'}-{tmpl_var name='package_release'}</td>
                            <tmpl_if name='is_noclient'>
                                <!--<td><a href="#" data-load-content="sites/aps_packagedetails_show.php?id={tmpl_var name='package_id'}">{tmpl_var name='customer_name'}</a></td>-->
                            </tmpl_if>
                            <td><a href="http://{tmpl_var name='install_location'}" target="_blank">{tmpl_var name='install_location_short'}</a></td>
                            <td><span id="status_content{tmpl_var name='__ROWNUM__'}">{tmpl_var name='instance_status'}</span></td>
                            <td class="text-right">
                                <tmpl_if name='delete_possible'>
                                    <a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('sites/aps_do_operation.php?action=delete_instance&id={tmpl_var name='id'}','{tmpl_var name='pkg_delete_confirmation'}')"><span class="icon icon-delete"></span></button>
                                </tmpl_if>
                            </td>        
                        </tr>
                    </tmpl_loop>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">{tmpl_var name='paging'}</td>
                    </tr>
                </tfoot>
            </table>
</div>
        
    </div>