<div class='page-header'>
	<h1><tmpl_var name="head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        <legend>{tmpl_var name="legend_txt"}</legend>
            
            <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="Update Packagelist" data-load-content="sites/aps_cron_apscrawler_if.php">{tmpl_var name="btn_start_txt"}</button>
            <button class="btn btn-default formbutton-default" type="button" value="Cancel" data-load-content="sites/aps_availablepackages_list.php">{tmpl_var name="btn_cancel_txt"}</button>
        </div></div>
