<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        <p class="fieldset-legend">{tmpl_var name="toolsarea_head_txt"}</p>
            
                <button class="btn btn-default formbutton-success" type="button" data-load-content="sites/cron_edit.php">{tmpl_var name="add_new_cron_txt"}</button>
            
        

    
        <p class="fieldset-legend"><tmpl_var name="list_head_txt"></p>
            <div class="table-wrapper marginTop15">
<table class="table">
                <thead class="dark form-group-sm">
                    <tr>
                        <th class="tiny-col" data-column="active"><tmpl_var name="active_txt"></th>
                        <th data-column="server_id"><tmpl_var name="server_id_txt"></th>
                        <th data-column="parent_domain_id"><tmpl_var name="parent_domain_id_txt"></th>
                        <th data-column="run_min"><tmpl_var name="run_min_txt"></th>
                        <th data-column="run_hour"><tmpl_var name="run_hour_txt"></th>
                        <th data-column="run_mday"><tmpl_var name="run_mday_txt"></th>
                        <th data-column="run_month"><tmpl_var name="run_month_txt"></th>
                        <th data-column="run_wday"><tmpl_var name="run_wday_txt"></th>
                        <th data-column="command"><tmpl_var name="command_txt"></th>
                        <th class="small-col text-right">{tmpl_var name='search_limit'}</th>
                    </tr>
                    <tr>
                        <td><select class="form-control" name="search_active">{tmpl_var name='search_active'}</select></td>
                        <td><select class="form-control" name="search_server_id">{tmpl_var name='search_server_id'}</select></td>
                        <td><select class="form-control" name="search_parent_domain_id">{tmpl_var name='search_parent_domain_id'}</select></td>
                        <td><input class="form-control" type="text" name="search_run_min" value="{tmpl_var name='search_run_min'}" /></td>
                        <td><input class="form-control" type="text" name="search_run_hour" value="{tmpl_var name='search_run_hour'}" /></td>
                        <td><input class="form-control" type="text" name="search_run_mday" value="{tmpl_var name='search_run_mday'}" /></td>
                        <td><input class="form-control" type="text" name="search_run_month" value="{tmpl_var name='search_run_month'}" /></td>
                        <td><input class="form-control" type="text" name="search_run_wday" value="{tmpl_var name='search_run_wday'}" /></td>
                        <td><input class="form-control" type="text" name="search_command" value="{tmpl_var name='search_command'}" /></td>
                        <td class="text-right">
                            <button type="button" class="btn btn-default formbutton-default formbutton-narrow" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" data-submit-form="pageForm" data-form-action="sites/cron_list.php"><span class="icon icon-filter"></span></button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tmpl_loop name="records">
                        <tr>
                            <td><a href="#" data-load-content="sites/cron_edit.php?id={tmpl_var name='id'}">{tmpl_var name="active"}</a></td>
                            <td><a href="#" data-load-content="sites/cron_edit.php?id={tmpl_var name='id'}" data-toggle="tooltip" data-placement="bottom" title="{tmpl_var name='server_id'}">{tmpl_var name="server_id"}</a></td>
                            <td><a href="#" data-load-content="sites/cron_edit.php?id={tmpl_var name='id'}" data-toggle="tooltip" data-placement="bottom" title="{tmpl_var name='parent_domain_id'}">{tmpl_var name="parent_domain_id"}</a></td>
                            <td><a href="#" data-load-content="sites/cron_edit.php?id={tmpl_var name='id'}">{tmpl_var name="run_min"}</a></td>
                            <td><a href="#" data-load-content="sites/cron_edit.php?id={tmpl_var name='id'}">{tmpl_var name="run_hour"}</a></td>
                            <td><a href="#" data-load-content="sites/cron_edit.php?id={tmpl_var name='id'}">{tmpl_var name="run_mday"}</a></td>
                            <td><a href="#" data-load-content="sites/cron_edit.php?id={tmpl_var name='id'}">{tmpl_var name="run_month"}</a></td>
                            <td><a href="#" data-load-content="sites/cron_edit.php?id={tmpl_var name='id'}">{tmpl_var name="run_wday"}</a></td>
                            <td><a href="#" data-load-content="sites/cron_edit.php?id={tmpl_var name='id'}" data-toggle="tooltip" data-placement="bottom" title="{tmpl_var name='command'}">{tmpl_var name="command"}</a></td>
                            <td class="text-right">
                                <div class="buttons icons16">    
                                    <a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('sites/cron_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');"><span class="icon icon-delete"></span></a>
                                </div>
                            </td>
                        </tr>
                    </tmpl_loop>
                    <tmpl_unless name="records">
                        <tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                            <td colspan="10">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
                        </tr>
                    </tmpl_unless>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10"><tmpl_var name="paging"></td>
                    </tr>
                </tfoot>
            </table>
</div>
