<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>

<p class="fieldset-legend"><tmpl_var name="list_head_txt"></p>
<div class="table-wrapper marginTop15">
	<table class="table">
		<thead class="dark form-group-sm">
			<tr>
				<th class="col-md-3" data-column="domain"><tmpl_var name="domain_txt"></th>
				<th class="col-md-2" data-column="this_month_sort"><tmpl_var name="this_month_txt"></th>
				<th class="col-md-2" data-column="last_month_sort"><tmpl_var name="last_month_txt"></th>
				<th class="col-md-2" data-column="this_year_sort"><tmpl_var name="this_year_txt"></th>
				<th class="col-md-2" data-column="last_year_sort"><tmpl_var name="last_year_txt"></th>
				<th class="col-md-1 text-right">{tmpl_var name='search_limit'}</th>
			</tr>
			<tr>
				<td><input class="form-control" type="text" name="search_domain" value="{tmpl_var name='search_domain'}" /></td>
				<td class="this_month"><tmpl_var name="in_out_txt"></td>
				<td class="last_month"><tmpl_var name="in_out_txt"></td>
				<td class="this_year"><tmpl_var name="in_out_txt"></td>
				<td class="last_year"><tmpl_var name="in_out_txt"></td>
				<td class="text-right">
					<button type="button" class="btn btn-default formbutton-default formbutton-narrow" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" data-submit-form="pageForm" data-form-action="sites/ftp_sites_stats.php"><span class="icon icon-filter"></span></button>
				</td>
			</tr>
		</thead>
		<tbody>
		<tmpl_loop name="records">
			<tr>
				<td><a target="_blank" href="http://{tmpl_var name="domain"}/stats">{tmpl_var name="domain"}</a></td>
				<td><a href="#" data-load-content="sites/web_<tmpl_if name='type' op='==' value='vhostsubdomain'>vhost_sub</tmpl_if><tmpl_if name='type' op='==' value='vhostalias'>vhost_alias</tmpl_if>domain_edit.php?id={tmpl_var name='id'}">{tmpl_var name="this_month_in"}/{tmpl_var name="this_month_out"}</a></td>
				<td><a href="#" data-load-content="sites/web_<tmpl_if name='type' op='==' value='vhostsubdomain'>vhost_sub</tmpl_if><tmpl_if name='type' op='==' value='vhostalias'>vhost_alias</tmpl_if>domain_edit.php?id={tmpl_var name='id'}">{tmpl_var name="last_month_in"}/{tmpl_var name="last_month_out"}</a></td>
				<td><a href="#" data-load-content="sites/web_<tmpl_if name='type' op='==' value='vhostsubdomain'>vhost_sub</tmpl_if><tmpl_if name='type' op='==' value='vhostalias'>vhost_alias</tmpl_if>domain_edit.php?id={tmpl_var name='id'}">{tmpl_var name="this_year_in"}/{tmpl_var name="this_year_out"}</a></td>
				<td><a href="#" data-load-content="sites/web_<tmpl_if name='type' op='==' value='vhostsubdomain'>vhost_sub</tmpl_if><tmpl_if name='type' op='==' value='vhostalias'>vhost_alias</tmpl_if>domain_edit.php?id={tmpl_var name='id'}">{tmpl_var name="last_year_in"}/{tmpl_var name="last_year_out"}</a></td>
				<td class="text-right"></td>
			</tr>
		</tmpl_loop>
		<tmpl_unless name="records">
			<tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
				<td colspan="6">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
			</tr>
		</tmpl_unless>
			<tr>
				<td><a href="#" onclick="return false;" style="font-weight:bold;">{tmpl_var name="sum_txt"}</a></td>
				<td><a href="#" onclick="return false;" style="font-weight:bold;">{tmpl_var name="sum_this_month"}</a></td>
				<td><a href="#" onclick="return false;" style="font-weight:bold;">{tmpl_var name="sum_last_month"}</a></td>
				<td><a href="#" onclick="return false;" style="font-weight:bold;">{tmpl_var name="sum_this_year"}</a></td>
				<td><a href="#" onclick="return false;" style="font-weight:bold;">{tmpl_var name="sum_last_year"}</a></td>
				<td class="text-right"></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="6"><tmpl_var name="paging"></td>
			</tr>
		</tfoot>
	</table>
</div>
