<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>

		<div class="form-group">
			<label for="puser" class="col-sm-3 control-label">{tmpl_var name='puser_txt'}</label>
			<div class="col-sm-9"><input type="text" name="puser" id="puser" value="{tmpl_var name='puser'}" class="form-control" /></div>
		</div>
		<div class="form-group">
			<label for="pgroup" class="col-sm-3 control-label">{tmpl_var name='pgroup_txt'}</label>
			<div class="col-sm-9"><input type="text" name="pgroup" id="pgroup" value="{tmpl_var name='pgroup'}" class="form-control" /></div>
		</div>
		<div class="form-group">
			<label for="shell" class="col-sm-3 control-label">{tmpl_var name='shell_txt'}</label>
			<div class="col-sm-9"><input type="text" name="shell" id="shell" value="{tmpl_var name='shell'}" class="form-control" /></div>
		</div>
		<tmpl_if name="is_jailkit">
		<input type="hidden" name="dir" id="dir" value="{tmpl_var name='dir'}">
		</tmpl_else>
		<div class="form-group">
			<label for="dir" class="col-sm-3 control-label">{tmpl_var name='dir_txt'}</label>
			<div class="col-sm-9"><input type="text" name="dir" id="dir" value="{tmpl_var name='dir'}" class="form-control" /></div>
		</div>
		</tmpl_if>
	

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="sites/shell_user_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="sites/shell_user_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div></div>