<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


        <tmpl_if name='datalog_changes_count' op='>' value='0'>
        <div>
            <div class="systemmonitor-state state-info">
                <div class="status"></div>
                <div class="statusMsg">
                    {tmpl_var name="datalog_changes_txt"}
                    <ul>
                    <tmpl_loop name="datalog_changes">
                        <li><strong>{tmpl_var name="text"}:</strong> {tmpl_var name="count"}</li>
                    </tmpl_loop>
                    </ul>
                    {tmpl_var name="datalog_changes_end_txt"}
                </div>
            </div><br />
        </div>
        </tmpl_if>
        <p class="fieldset-legend">{tmpl_var name="toolsarea_head_txt"}</p>
            
                <button class="btn btn-default formbutton-success" type="button" data-load-content="dns/dns_slave_edit.php">{tmpl_var name="add_new_record_txt"}</button>
            
        

    
        <p class="fieldset-legend"><tmpl_var name="list_head_txt"></p>
            <div class="table-wrapper marginTop15">
<table class="table">
                <thead class="dark form-group-sm">
                <tr>
                    <th class="tiny-col" data-column="active"><tmpl_var name="active_txt"></th>
					<th data-column="sys_groupid"><tmpl_var name="sys_groupid_txt"></th>
                    <th data-column="server_id"><tmpl_var name="server_id_txt"></th>
                    <th data-column="origin"><tmpl_var name="origin_txt"></th>
                    <th data-column="ns"><tmpl_var name="ns_txt"></th>
                    <th class="small-col text-right">{tmpl_var name='search_limit'}</th>
                </tr>
                <tr>
                    <td><select class="form-control" name="search_active">{tmpl_var name='search_active'}</select></td>
					<td><select class="form-control" name="search_sys_groupid">{tmpl_var name='search_sys_groupid'}</select></td>
                    <td><select class="form-control" name="search_server_id">{tmpl_var name='search_server_id'}</select></td>
                    <td><input class="form-control" type="text" name="search_origin" value="{tmpl_var name='search_origin'}" /></td>
                    <td><input class="form-control" type="text" name="search_ns" value="{tmpl_var name='search_ns'}" /></td>
                    <td class="text-right">
                        <button type="button" class="btn btn-default formbutton-default formbutton-narrow" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" data-submit-form="pageForm" data-form-action="dns/dns_slave_list.php"><span class="icon icon-filter"></span></button>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tmpl_loop name="records">
                    <tr>
                        <td><a href="#" data-load-content="dns/dns_slave_edit.php?id={tmpl_var name='id'}">{tmpl_var name="active"}</a></td>
						<td><a href="#" data-load-content="dns/dns_slave_edit.php?id={tmpl_var name='id'}">{tmpl_var name="sys_groupid"}</a></td>
                        <td><a href="#" data-load-content="dns/dns_slave_edit.php?id={tmpl_var name='id'}">{tmpl_var name="server_id"}</a></td>
                        <td><a href="#" data-load-content="dns/dns_slave_edit.php?id={tmpl_var name='id'}">{tmpl_var name="origin"}</a></td>
                        <td><a href="#" data-load-content="dns/dns_slave_edit.php?id={tmpl_var name='id'}">{tmpl_var name="ns"}</a></td>
                        <td class="text-right">
                            <a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('dns/dns_slave_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');"><span class="icon icon-delete"></span></a>
                        </td>
                    </tr>
                </tmpl_loop>
                <tmpl_unless name="records">
                    <tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                        <td colspan="6">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
                    </tr>
                </tmpl_unless>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6"><tmpl_var name="paging"></td>
                </tr>
                </tfoot>
            </table>
</div>
        
    