<div class='page-header'>
	<h1><tmpl_var name="page_head_txt"></h1>
</div>
<p><tmpl_var name="page_desc_txt"></p>

<div class="panel panel_mailuser">

  <div class="pnl_formsarea">
    
        <div class="form-group">
            <label class="col-sm-3 control-label">{tmpl_var name='email_txt'}</label>
            <div class="col-sm-9"><div class="checkbox">{tmpl_var name='email'}</div></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">{tmpl_var name='login_txt'}</label>
            <div class="col-sm-9"><div class="checkbox">{tmpl_var name='login'}</div></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">{tmpl_var name='server_address_txt'}</label>
            <div class="col-sm-9"><div class="checkbox">{tmpl_var name='server_name'}</div></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">{tmpl_var name='quota_txt'}</label>
            <div class="col-sm-9"><div class="checkbox">{tmpl_var name='quota'}</div></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">{tmpl_var name='cc_txt'}</label>
            <div class="col-sm-9"><div class="checkbox">{tmpl_var name='cc'}</div></div>
        </div>
        <div class="clear"><div class="right">
            &nbsp;
        </div></div>
    
  </div>
  
</div>