	<tmpl_if name="form_hint">
		<div class='page-header'>
		  <h1><tmpl_var name="form_hint"></h1>
		</div>
	</tmpl_if>
	<tmpl_if name="msg">
		<div class='alert alert-notification'>
		  <tmpl_var name="msg">
		</div>
	</tmpl_if>
	<tmpl_if name="error">
		<div class='alert alert-danger clear'>
		  <div class='alert-label'><strong><tmpl_var name="error_txt"></strong></div>
		  <div class='alert-content'>
			<ol><tmpl_var name="error"></ol>
		  </div>
		</div>
	</tmpl_if>
	
	<!-- content in tabs -->
	<div class='content-tab-wrapper'>
		<!-- tabs -->
		<ul class='nav nav-tabs'>
		<tmpl_loop name="formTab">
			<li<tmpl_if name="active"> class='active'</tmpl_if>>
				<a href='#' onclick="return ISPConfig.changeTab('<tmpl_var name='name'>','<tmpl_var name='app_module'>/<tmpl_var name='form_action'>')"><tmpl_var name='title'></a>
			</li>
        </tmpl_loop>
		</ul>

		<div id="tabbox_content" class="tab-content">
			<div class='tab-pane active fade in'>
			<tmpl_dyninclude name="content_tpl">
			</div>
		</div>

		<input type="hidden" name="_csrf_id" value="{tmpl_var name='_csrf_id'}" />
		<input type="hidden" name="_csrf_key" value="{tmpl_var name='_csrf_key'}" />
		<input type="hidden" name="next_tab" value="">
		<input type="hidden" name="phpsessid" value="{tmpl_var name='phpsessid'}">
	</div>
